
/**
 Heritence
**/
body{
    font-family: 'Montserrat', sans-serif; 
}

/** 
    Insert font from extern folder
**/
@font-face {
    font-family:YsabeauOffice;
    src: url('../font/Ysabeau_Office/static/YsabeauOffice-SemiBold.ttf');
}
@font-face {
    font-family:Milky_mania;
    src: url('../font/milky_mania/Milky_Mania.ttf');
}

h1{
    color: white;
    font-family: 'Anton',sans-serif;
}
/**
*{
    font-family: sans-serif;   
}
h1 {
    font-family: serif;
}
**/
#product-overview{
    background: #ff1b68 ;    
}
.section-title{
    color: #2ddf5c;
}