body{
    font-family: sans-serif;
    line-height: 1.4;
}
.product-title{
    text-transform: uppercase;
    background-color: #f7f7f7;
    text-align: center;
    font-size: 22px;
}
.price{
   font-size:24px;
}
.product {
    border: 4px solid black;
}   
.shipping {
    text-transform: uppercase;
    color: #777;
    font-size: 12px;
    font-weight: bold;
}
.product p {

}
.more-info:active,
.more-info:hover {
    text-decoration: none;
}
.more-info:link,
.more-info:visited{
      color: black;
}
.details-title{
    text-transform: uppercase;
    font-size: 16px;
}
.details-list {
    list-style: square;
}

.add-cart {
    background-color: #000;
    color: white;
    text-transform: uppercase;
    font-size: 20px;
    border:none;
}
.add-cart:hover{
    background-color: #fff;
    color: #000;
}
