.container {
      
       width: 100%;
       height: 800px;
       background-color: #f7e6c1;
}

.el {
    position: absolute;
    top:100px;
    left: 200px;
    background-color: #f4b33f;
    width: 500px;
    height: 400px;
}