.author { 
    font-style: italic;
    font-size: 18px;
}

#author-text {
    font-size: 20px;
}

body {
    color: #444444;
    font-size: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-top:  10px solid #1098ad;
} 



.container {
    position: relative;
    width: 1400px;
    height: 400px;
    background-color: #f7e6c1;
}

.el{
    width: 200px;
    height: 100px;
    position: absolute;
    top: 100px;
    left: 200px;
    background-color: #f4b33f;    
}




